# Dependencias
node_modules/

# Reportes y logs de pruebas
cucumber-report.html
playwright-report/
test-results/
.test-results/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Compilación de TypeScript
dist/
*.tsbuildinfo

# Sistema operativo e IDEs
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Variables de entorno
.env
.env.local
.env.*.local
